# IDE
.vscode/

# System files
.DS_Store

# Markdown files

# Draw.io files
*.drawio
*.drawio.bkp

# Specific backup files
.$系统详细设计.drawio.bkp
.$用例图.drawio.bkp

# Ignore all files in md 画图 directory

# Ignore node_modules directories
client/node_modules/
server/node_modules/
admin/node_modules/
# Python 语音微服务
speechToText/venv/
speechToText/__pycache__/
*.pyc
client/build/